<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.innovative">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/inovative"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inovative"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Scimcq10"></activity>
        <activity android:name=".Scimcq9" />
        <activity android:name=".Scimcq8" />
        <activity android:name=".Scimcq7" />
        <activity android:name=".Scimcq6" />
        <activity android:name=".Scimcq5" />
        <activity android:name=".Mcq6" />
        <activity android:name=".Scimcq4" />
        <activity android:name=".Mcq5" />
        <activity android:name=".Scimcq3" />
        <activity android:name=".Scimcq2" />
        <activity android:name=".Mcq4" />
        <activity android:name=".Mcq3" />
        <activity android:name=".Commcq1" />
        <activity android:name=".Scimcq1" />
        <activity android:name=".TermSci" />
        <activity android:name=".TermCom" />
        <activity android:name=".TermMar" />
        <activity android:name=".TermHindi" />
        <activity android:name=".TermEng" />
        <activity android:name=".Engmcq1" />
        <activity android:name=".Mcq2" />
        <activity android:name=".Mcq1" />
        <activity android:name=".TermMath" />
        <activity android:name=".Login" />
        <activity android:name=".DashBoard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>